<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/220cb8914d.js" crossorigin="anonymous"></script>
 
  <title>Document</title>
</head>
<body style="background-color:#f3c3d0;">
 
<div  class="card mb-3 " style="max-width: 1000px; max-height: 700px;  padding-left: 100px;  padding-right: 50px; margin-top: 20px; margin-left: 200px; background-color: white;"  >
    <div class="row g-0">
        <div class="card-body">
          <form class="col-10 max-auto card  p-4  m-4 shadow-lg just " method="post" enctype="multipart/form-data">   
            <h1 style="text-align: center; margin-top:2%;"><font font-weight="bold" face="Gabriola">Login your account</font></h1>
              {% csrf_token %} 
              {% if messages %}
              <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
              </div>
{% endif %}
                <div class="mb-3">
                <div id="emailHelp" class="form-text"><font font-weight="bold" face="Gabriola" size="5px">Username</font></div>
                <input type="text" class="form-control" style="border-color:rgb(239, 73, 136);" name="username"  aria-describedby="emailHelp" required>
             
              </div>
              <div class="mb-3">
                <label for="InputPassword"  class="form-label"><font font-weight="bold" face="Gabriola" size="5px"> Enter Password</font></label>
                <input type="password" name="password"style="border-color:rgb(239, 73, 136);" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-lg-white" style="margin-bottom: 2%;  border-color:#f3c3d0; background-color:#f3c3d0;">Login </button>
            <br>
          
            </form>
            <p>I do not have account <a href="/register">Register</a></p>
              {% if request.user.is_authenticated %}
              <a class="btn btn-white" href="logout" style=" background-color: #f3c3d0;">Logout</a></button>
                  {% else %}
              <a class="btn btn-white" href="login" style="background-color: #f3c3d0;">Login</a></button>  
            {% endif %}
            
  
        </div>
      </div>
    </div>
  </div>
 
{% include 'readingapp/footer.html' %}